# scala
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.iml
*.swp

# kernel
.*.mod
.*.cmd
.tmp_versions
Module.symvers
*.mod.*
*.o
*.ko
modules.order
*.swp
Makefile.conf

src/main/c/ftl/ftl_main
src/main/c/ftl/variables
.cproject
.linKPlus
.project

src/main/c/kernel/config.h
src/main/resources/default.conf
bin/config
.cache.mk
